---
layout: archive
title: "Upcoming Conferences and Workshops"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>List of Talks</h2>
{% for talk in site.talks %}
  <h3>{{ talk.title }}</h3>
  <p>{{ talk.date | date: "%B %d, %Y" }}</p>
  <p>{{ talk.description }}</p>
{% endfor %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
