---
layout: archive
title: 
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Past Talks</h2>
{% for talk in site.talks %}
  {% if talk.category == "past" %}
    <h3><a href="{{ talk.address }}">{{ talk.title }}</a></h3> <p>{{ talk.location }}, {{ talk.date_start | date: "%B %d, %Y" }} - {{ talk.date_end | date: "%B %d, %Y" }}</p> (<a href="{{ talk.permalink }}">More Info</a>)
  {% endif %}
{% endfor %}


<h2>Upcoming</h2>
{% for talk in site.talks %}
  {% if talk.category == "upcoming" %}
    <h3><a href="{{ talk.address }}">{{ talk.title }}</a></h3>(<a href="{{ talk.permalink }}">More Info</a>)
    <p>{{ talk.location }}, {{ talk.date_start | date: "%B %d" }}-{{ talk.date_end | date: "%d, %Y" }}</p>
  {% endif %}
{% endfor %}



{% for talk in site.talks reversed %}
  {% if talk.category == "detail" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

