---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Navigation Menu -->
    <nav class="site-nav">
      <ul>
        <li><a href="/cv/">CV</a></li>
        {% if page.url != '/cv/' %}
          <li><a href="/page/teaching/">Teaching</a></li>
        {% endif %}
        <!-- Other navigation items -->
      </ul>
    </nav>

    <!-- Main Content of Your Page -->
    {{ content }}

    <!-- Footer Section -->
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    <!-- Scripts and JavaScript Files -->
    {% include scripts.html %}

  </body>
</html>
